.wrapper{
    background-image: url("Krishna.jpg");    
    height: 590px;
    width: 300px; 
    margin: 10px 500px;       
    padding: 1px;
    font-family: 'Times New Roman', Times, serif;
}
/* Chat1 CSS */
.chat1{
    background-color: white;
    margin:0px 10px; 
    width: 160px;    
    height: 110px; 
    border-radius: 10px;    
    position: relative;
    font-size: 12px;
}
.name1{
    color: rgb(255, 145, 0);
    padding: 5px 10px;
    margin-bottom: 0%;   
    margin-top: 5px; 
}
.chat1-1{
    background-color: rgba(211, 211, 211,0.3);
    border-left: 5px solid rgb(35, 190, 118);
    margin: 5px;
    border-radius: 10px;  
    margin-top: 0%;
}
.txtcolor1-chat1{
    color: #23be76;
    font-weight: bold;
    padding-left: 5px;
    margin-top: 1%;
    margin-bottom: 3%;
    padding-top: 5px;
}
.txtcolor2-chat1{
    color: gray;
    padding-left: 5px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding-bottom: 5px;
}
.time-chat1{
    color: rgb(151, 146, 146);
    text-align: right;         
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 5px;    
}
img{
    padding-left: 5px;
}
/* Date CSS */
.date1{
    background-color: white;
    border-radius: 5px;
    width: max-content;
    height: 20px;
    text-align: center;
    margin-left: 110px;
    font-size: 12px;    
    padding: 0px 5px;    
}
.date2{
    margin-left: 120px;
}
.date3{
    margin-left: 130px;
}
.date-align{
    padding-top: 4px;
}
/* Chat2, 5, 6, 8 & 9 CSS */
.chat2{
    background-color: white;
    margin:0px 10px; 
    width: 100px;
    height: 45px; 
    border-radius: 10px;    
    position: relative;
    font-size: 12px;
}
.chat5{
    width: 110px;     
}
.chat6{
    width: 210px;
    height: 60px; 
}
.chat8{
    width: 240px; 
}
.chat9{
    width: 230px; 
}
.name2{
    color: rgb(161, 17, 161);
    padding: 5px 10px;
    margin-bottom: 0%;   
    margin-top: 12px;     
}
.time-chat2{
    color: rgb(151, 146, 146);
    text-align: right;         
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 5px;    
}
.txtcolor1-chat2{
    color: black;
    padding-left: 10px;
    margin-top: 0px;
}
/* Chat3 & 7 CSS */
.chat3{
    background-color: white;
    margin:0px 10px; 
    width: 200px;    
    height: 25px; 
    border-radius: 7px;    
    position: relative;
    font-size: 12px;
}
.chat7{
    width: 230px;
}
.txtcolor1-chat3{
    color: black;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.time-chat3{
    color: rgb(151, 146, 146);
    text-align: right;         
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 5px;    
}
/* Chat4 CSS */
.chat4{
    background-color: white;
    margin:0px 160px; 
    width: 130px;    
    height: 25px; 
    border-radius: 7px;    
    position: relative;
    font-size: 12px;
}
.txtcolor1-chat4{
    color: black;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.time-chat4{
    color: rgb(151, 146, 146);
    text-align: right;         
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 5px;    
}
.name3{
    color: rgb(236, 10, 47);
    padding: 5px 10px;
    margin-bottom: 0%;   
    margin-top: 7px;     
}
.name4{
    color: rgb(255, 238, 0);
    padding: 5px 10px;
    margin-bottom: 0%;   
    margin-top: 7px;     
}
.name5{
    color: rgb(29, 212, 29);
    padding: 5px 10px;
    margin-bottom: 0%;   
    margin-top: 7px;     
}